@import "~bootstrap/scss/bootstrap.scss";
@import "~fullpage.js/dist/fullpage.css";
@import "~animate.css";

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,400,500,700&subset=japanese');

@font-face {
    font-family: "ibmplex";
    src: url(../fonts/ibmplexmono-medium.woff);
}

$gradColor: linear-gradient(90deg, rgba(21, 182, 208, 1) 0%, rgba(29, 185, 159, 1) 50%, rgba(223, 173, 8, 1) 100%);
$linkColor: #109CB0;

.grad {
    background : $gradColor;
}

.btn-grad {
    @extend .grad;
    color: #fff !important;
    border: none;
    border-radius: 0;
    box-shadow: 0 0 0 #e82d89;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        box-shadow: 3px 3px 0 #e82d89;
        text-decoration: none;
    }
    &.btn-extra-lg {
        padding: 1rem 6rem;
        font-size: 2rem;
        @include media-breakpoint-down(sm) {
            padding: 1rem 2rem;
        }
    }
}

/* Preloader */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    /* change if the mask should have another color then white */
    z-index: 9999;
    /* makes sure it stays on top */
}

#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    /* centers the loading animation horizontally one the screen */
    top: 50%;
    /* centers the loading animation vertically one the screen */
    background-image: url(https://raw.githubusercontent.com/niklausgerber/PreLoadMe/master/img/status.gif);
    /* path to your loading animation */
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
    /* is width and height divided by two */
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    background-image: url(../images/rectangle.svg);
    background-repeat: no-repeat;
    background-position: center 100px;
    background-size: 640px 1280px;
    background-attachment: fixed;
    font-weight: 300;
    @include media-breakpoint-down(sm) {
        background-size: 256px 480px;
        background-attachment: scroll;
    }
    &.no-bg {
        background-image: none;
    }
}

a {
    transition: all .25s ease;
}

footer {
    padding-top: 12rem;
    padding-bottom: 2rem;
    background-color: #ECEFF1;
    .nav-item {
        font-size: 13px;
        > span {
            display: block;
            padding: 0.5rem 1rem;
        }
        a.nav-link, > span {
            line-height: 32px;
            color: #333;
            &:hover {
                color: #000;
            }
        }
        .taas-link {
            img {
                height: 32px;
            }
        }
    }
    .copyright {
        // font-family: ibmplex;
    }
    @include media-breakpoint-down(sm) {
        .nav {
            .nav-item {
                display: block;
                width: 100%;
            }
        }
    }
}

#topnav {
    background-color: #fff !important;
    .navbar-nav {
        .nav-item {
            a {
                color: $linkColor;
            }
            .btn-grad {
                @include media-breakpoint-up(lg) {
                    padding-right: 1.5rem;
                    padding-left: 1.5rem;
                }
            }
        }
    }
    .sm-top-nav {
        > li {
            > a {
                padding: 0.1rem 1rem;
                color: $linkColor;
            }
        }
    }
}

.navbar-brand {
    img {
        height: 45px;
        @include media-breakpoint-down(sm) {
            width: 140px;
            height: auto;
        }
    }
}

.section-content {
    position: absolute;
    max-width: 530px;
    width: 100%;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    > h1 {
        font-size: 3em;
        font-weight: 500;
        line-height: 2em;
        text-align: center;
        @include media-breakpoint-down(sm) {
            font-size: 2em;
        }
    }
    @include media-breakpoint-up(md) {
        margin-top: 50px;
    }

    @include media-breakpoint-down(sm) {
        max-width: 320px;
        p.lead {
            font-size: 1rem;
            line-height: 2rem;
        }
    }
}

.index2 {
    .section1 {
        .section-content {
            // top: 30%;
        }
    }
}

.section1 {
    .section-content {
        // top: 25%;
    }
}

.section2 {
    img {
        max-width: 360px;
        width: 100%;
        @include media-breakpoint-down(sm) {
            max-width: 210px;
        }
    }
}

.section3 {
    .video-content {
        max-width: 680px;
        width: 100%;
    }
}

.section4 {
    > p.lead {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        @media (min-width: 992px) and (max-width: 1280px) {
            transform: translate(-50%, 0%);
        }
        @media (min-width: 1281px) {
            top: 20%;
            transform: translate(-50%, 0%);
        }
        @include media-breakpoint-down(sm) {
            top: 25%;
        }
    }
    .section4-image-wrapper {
        max-width: 680px;
        width: 100%;
    }
    @include media-breakpoint-down(sm) {
        .section-content {
            top: 20%;
        }
    }

    @media (max-height: 580px) {
        .section4-image-wrapper {
            max-width: 580px;
            width: 100%;
        }
    }
}

.section5 {
    .share-header {
        text-align: center;
        > span {
            display: block;
            position: relative;
            max-width: 80px;
            height: 3px;
        }
    }
    ul.social-box {
        li {
            display: inline-block;
            margin: 0 5px;
        }
    }
    > p, a, h4 {
        margin-top: 2rem;
        margin-bottom: 2rem;
        @include media-breakpoint-down(sm) {
            margin: .5rem 0;
        }
    }
    @include media-breakpoint-down(sm) {
        p.lead {
            // margin-top: 3em;
        }
    }
}

.sm-section-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1rem 2rem;
    text-align: center;
    font-size: 1.3rem;
    z-index: 101;
    background : $gradColor;
    > a {
        color: #fff;
    }
}

.fp-controlArrow.fp-next, .fp-controlArrow.fp-prev {
    border: none;
    width: 80px;
    height: 120px;
}

.arrow {
  cursor: pointer;
  height: 120px;
  transition: transform .1s;
  width: 80px;
  
  $transition-time: .15s;
  
  &-top,
  &-bottom {
    background-color: #666;
    height: 4px;
    left: -5px;
    position: absolute;
    top: 50%;
    width: 100%;
    
    &:after {
      background-color: $linkColor;
      content: '';
      height: 100%;
      position: absolute;
      top: 0;
      transition: all $transition-time;
    }
  }
  
  &-top {
    transform: rotate(75deg);
    transform-origin: bottom right;
    
    &:after {
      left: 100%;
      right: 0;
      transition-delay: 0s;
    }
  }
  
  &-bottom {
    transform: rotate(-75deg);
    transform-origin: top right;
    
    &:after {
      left: 0;
      right: 100%;
      transition-delay: $transition-time;
    }
  }
  
  // &:hover & {
    
  //   &-top:after {
  //     left: 0;
  //     transition-delay: $transition-time;
  //   }

  //   &-bottom:after {
  //     right: 0;
  //     transition-delay: 0s;
  //   }
  // }
  
  &:active {
    transform: scale(0.9);
  }
}

.fp-controlArrow.fp-prev {
    .arrow {
        $transition-time: .15s;

        &-top {
            transform: rotate(-75deg);
            transform-origin: bottom left;
            // &:after {
            //   left: 100%;
            //   right: 0;
            //   transition-delay: 0s;
            // }
          }
          
          &-bottom {
            transform: rotate(75deg);
            transform-origin: top left;
            // &:after {
            //   left: 0;
            //   right: 100%;
            //   transition-delay: $transition-time;
            // }
          }

          // &:hover & {
            
          //   &-top:after {
          //     left: 0;
          //     transition-delay: $transition-time;
          //   }

          //   &-bottom:after {
          //     left: 0;
          //     transition-delay: 0s;
          //   }
          // }

          &:active {
            transform: scale(0.9);
          }
    }
}

.fp-tableCell {
    position: relative;
}

body#user-form {
    .page-wrapper {
        .container {
            max-width: 640px !important;
        }
    }
}

.page-wrapper {
    padding-top: 71px;
    min-height: 510px;
    @include media-breakpoint-down(md) {
        padding-top: 86.38px;
    }

    a {
        color: $linkColor;
    }
}

.page-title {
    background: $gradColor;
    color: #fff;
    padding: 3rem 0;
}

form {
    .form-group {
        margin-bottom: 2rem;
    }

    ul.parsley-errors-list {
        list-style: none;
        padding: 0;
        margin: 0;
        > li {
            color: red;
            font-size: 12px;
        }
    }

    label {
        &.error {
            color: red;
            font-size: 12px;
        }
        &.required:after {
            content: " *";
            color: red;
        }
    }

    input, textarea {
        border: none !important;
        border-bottom: 1px solid #ccc !important;
        border-radius: 0 !important;
    }
}

.epod-arrow {
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 100;
    width: 64px;
    height: 64px;
    background: url(../images/arrow.png) no-repeat center;
    background-size: contain;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 0 #e82d89;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        box-shadow: 0 0 0px 3px #e82d89;
        text-decoration: none;
    }
    @media (min-width: 1281px) {
        right: 20%;
    }
}

.privacy-page {
    .main-content {
        ul {
            list-style: none;
        }

        h2 {
            font-size: 1.5em;
        }

        h3 {
            font-size: 1.17em;
        }
    }
}